body{
    background: url(background.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20em;
    height: 20em;
    background-color: #fff;
    margin-top: 0;
    padding:2rem ;
    border-radius: 50%;
}

.inner{
    
    width:100%;
    height: 100%;
    background:linear-gradient(240deg, rgba(16,98,199,1) 22%, rgba(0,54,139,1) 55%);
    border-radius: 50%;
    transform: translateY(-3px); 
    
   
}

.hand{
   margin-left: 12px;
    width: 150px;
      height: 6px;
      background: black;
      position: absolute;
      top: 50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all ;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

@media only screen and (max-height:700px){
    .hand{
        right:50%;
        align-items: center;
        bottom:30%;
        width:100px;
        height: 6px;
    }

    .clock{
        margin: 0;
    }
}

@media only screen and (max-width:900px){
    body{
        background-size: cover;
        
    }
    .clock{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width:1000px){
    body{
        background-size: cover;
    }
}